<form action="" class="row">
  <div class="col-md-4 col-sm-12 field">
    <div class="label">First Name</div>
    <input type="text" />
  </div>

  <div class="col-md-4 col-sm-12 field">
    <div class="label">Middle Name</div>
    <input type="text" />
  </div>

  <div class="col-md-4 col-sm-12 field">
    <div class="label">Last Name</div>
    <input type="text" />
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="ccol-md-4 col-sm-12 field">
        <div class="label">Gender</div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="male" name="gender">
          <div class="checkmark">
            <span></span>
          </div>

          <label class="form-check-label" for="male">Male</label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="female" name="gender">
          <div class="checkmark">
            <span></span>
          </div>
          <label class="form-check-label" for="female">Female</label>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5 col-sm-12 field error">
        <div class="label">Address</div>
        <input type="text" value="123 Big Street, City, State 000">
        <div class="error-message">Zipcode is incorrect</div>
      </div>
    </div>
  </div>

</form>