<form action="" class="row">
  <div class="col-md-4 col-sm-12 field">
    <div class="label">First Name</div>
    <input type="text" />
  </div>
  <div class="col-md-4 col-sm-12 field">
    <div class="label">Middle Name</div>
    <input type="text" />
  </div>
  <div class="col-md-4 col-sm-12 field">
    <div class="label">Last Name</div>
    <input type="text" />
  </div>
</form>