{{> header title='simple page'}}

<div id="page">
  <div class="main">
    <div class="container">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Page header here showing very long text</h1>
          <h2>Page header subcopy please fill out the below</h2>
        </div>
      </div>
      <div class="form--container col-md-12">
        <div class="page-header form-header">
          <h1>Personal Information</h1>
          <h2>Section header subcopy can be as long as you want too</h2>
        </div>
        {{> form}}
        <div class="form-pagination">
          <div class="left"><span class="arrow arrow-prev"></span><a href="#">PREVIOUS</a></div>
          <div class="right">
            <button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-default disabled">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}