{{> header title='simple page'}}

<div class="content">
  <div class="main">
    <div class="container">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Page header here showing very long text</h1>
          <h2>Page header subcopy please fill out the below</h2>
        </div>
      </div>
      <div class="form--container col-md-12">
        <div class="form--header">
          <h1>Personal Information</h1>
        </div>
        {{> form}}
        <nav aria-label="pagination">
          <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> PREVIOUS</a></li>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{{> footer}}